@font-face {
    font-family: 'Lucida Sans';
    src: url('lsans.eot');
    src: url('lsans.eot?#iefix') format('embedded-opentype'),
         url('lsans.woff2') format('woff2'),
         url('lsans.woff') format('woff'),
         url('lsans.ttf') format('truetype'),
         url('lsans.svg#lucida_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('lsansd.eot');
    src: url('lsansd.eot?#iefix') format('embedded-opentype'),
         url('lsansd.woff2') format('woff2'),
         url('lsansd.woff') format('woff'),
         url('lsansd.ttf') format('truetype'),
         url('lsansd.svg#lucida_sansdemibold_roman') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('lsansdi.eot');
    src: url('lsansdi.eot?#iefix') format('embedded-opentype'),
         url('lsansdi.woff2') format('woff2'),
         url('lsansdi.woff') format('woff'),
         url('lsansdi.ttf') format('truetype'),
         url('lsansdi.svg#lucida_sansdemibold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('lsansi.eot');
    src: url('lsansi.eot?#iefix') format('embedded-opentype'),
         url('lsansi.woff2') format('woff2'),
         url('lsansi.woff') format('woff'),
         url('lsansi.ttf') format('truetype'),
         url('lsansi.svg#lucida_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
