/*
(!) font face - Выяснить, есть ли в системе, или можно скачать официально бесплатный. Иначе - решить с заказчиком!
(!) font size - Сделать классы для всех комбинаций font-face / font-size / font-color
(!) font color

(!) img: изображения, фоны, иконки и т.п.
(!) структура елементов (HTML)
(!) тексты (HTML)
(!) позиции, отступы елементов
(!) цвета элементов, границы
*/

@font-face {
    font-family: 'Lucida Sans';
    src: url('../fonts/lucida_sans_unicode_regular.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular.ttf') format('truetype');
}
@import "reset.css";

.clr{/*После сфлоаченных блоков добавляем <div class="clr"> без содержимого и он прекратит сфлоачивание. */
  clear:both;
}
.clearfix::after{/*Добавляем этот класс к parent-элементу, у которого есть только сфлоачиваемые дети. Это прекратит сфлоачивание. */
  content: '';
  display: table;
  clear: both;
}
html {
  background-color: #FFF;
}
body {
  height: 2500px;
}
.wrapper {
  width: 912px;
  height: 2000px;
  /*background-color: lightyellow;*/
  margin: auto;
}
.header-top {
  height: 26px;
  width: 100%;
  margin: 9px 0 0 1px;
}
.contacts {
  display: block;
  float: left;
  width: 304px;
  margin: 12px 0 0 0;
  color: #5e696d;
  font: normal 18px Arial,sans-serif;
  line-height: 25px;
}
.contacts__ico-phone {
  margin: 0 0 0 7px;
}
.contacts__phone {
  margin: 0 3px 0 -2px;
  vertical-align: 4px;
  letter-spacing: 0.45px;
}
.login-form {
  display: block;
  float: left;
  width: 495px;
  height: 26px;
  background-color: #b1bcc0;
  background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75), 0px 0px 2px rgba(150, 150, 150, 0.75);
  margin: 9px 0 0 10px;
}
.login-form__user-ico {
  display: block;
  float: left;
  width: 14px;
  height: 18px;
  background: transparent url(../img/ico-login.png) 0 0 no-repeat;
  margin: 4px -2px 0 7px;
}
.login-form__input {
  display: block;
  float: left;
  width: 112px;
  height: 14px;
  background-color: white;
  border: 1px solid #9ba1a3;
  margin: 3px 2px 0 5px;
  vertical-align: 6px;
  color: #97a2a6;
  font: normal normal 11px "Lucida Sans", Arial, sans-serif;
}
.login-form__input_fix_1 {
  text-indent: 4px;
}
.login-form__input_fix_2 {
  text-indent: 5px;
  letter-spacing: -0.4px;
}
.login-form__login-reg-restorepwd {
  position: relative;
  display: block;
  float: left;
  margin: 6px 0px 0 1px;
  border: 0;
  width: 109px;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  font: normal 11px "Lucida Sans";
  line-height: 11px;
  letter-spacing: -0.3px;
}
.login-form__restorepwd {
  width: 95px;
  letter-spacing: 0.5px;
  margin: 7px 0 0 21px;
}
.login-form__login-reg-restorepwd:hover {
  color: #bfbfbf;
}
.login-form__login-reg-restorepwd:hover::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-width: 0 0 1px;
  border-style: solid;
}
.site-map {
  position: relative;
  float: left;
  width: 75px;
  height: 19px;
  background-color: #fff;
  border: 1px solid #bdc4c7;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  margin: 10px 0 0 17px;
}
.site-map::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 4px 0 #bcc3c6;
          box-shadow: 0 1px 4px 0 #bcc3c6;

  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
.site-map__ico {
  position: absolute;
  top: 2px;
  left: 8px;
}
.site-map__ico2 {
  top: 3px;
  left: 28px;
}
.site-map__ico3 {
  top: 4px;
  left: 51px;
}