$mq: 960px //media query should redefine this variable
$LeagueGothic: LeagueGothic, Arial, sans-serif
$OpenSansLight: OpenSansLight, Arial, sans-serif
$OpenSansExtraBold: OpenSansExtraBold, "Arial Black", Arial, sans-serif
$GeorgiaItalic: GeorgiaItalic, "Times New Roman", Times, serif
$pink: #edbfff
$callout_border_color: rgba(0, 0, 0, 0.1)
$callout_width: 20px
$callout_height: 20px
$radio_outer_color: rgba(#000, 0.3)
// // $icon-names: article blog1.320 blog1.480 blog1.768 blog1.960 blog2.320 blog2.480 blog2.768 blog2.960 blog3.320 blog3.480 blog3.768 blog3.960 next prev sound speach tool
// $icons: sprite-map("ico/*.png")
// i 
//   background: $icons
//   display: inline-block

// // <i class = "icn-article"></i>
// @each $i in sprite-names($icons)
//   .ico-#{$i}
//     background-position: sprite-position($icons, $i) 
//     @include sprite-dimensions($icons, article)
