@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/leaguegothicregular.woff2') format('woff2'),
       url('../fonts/leaguegothicregular.woff') format('woff'),
       url('../fonts/leaguegothicregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/opensans-light.woff2') format('woff2'),
       url('../fonts/opensans-light.woff') format('woff'),
       url('../fonts/opensans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
       url('../fonts/opensans-extrabold.woff') format('woff'),
       url('../fonts/opensans-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'GeorgiaItalic';
    src: url('../fonts/georgia_italic.woff2') format('woff2'),
         url('../fonts/georgia_italic.woff') format('woff'),
         url('../fonts/georgia_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
