/*
(.) img: изображения, фоны, иконки и т.п.
(.) структура елементов (HTML)
(.) тексты (HTML)
(!) позиции, отступы елементов
(.) font face
(.) font size
(.) font color
(!) цвета элементов, границы
*/

@import "reset.css";

.clr{/*После сфлоаченных блоков добавляем <div class="clr"> без содержимого и он прекратит сфлоачивание. */
  clear:both;
}
.clearfix:after{/*Добавляем этот класс к parent-элементу, у которого есть только сфлоачиваемые дети. Это прекратит сфлоачивание. */
  content: "";
  display: table;
  clear: both;
}

html{
  font-family: tahoma,sans-serif;
  color: #e6e6e6;
}
body{
  width: 960px;
  height: 830px;
  margin: auto;
}
div.wrapper{
  position: relative;
  margin: auto;
  background: #000 url(../img/background.jpg) no-repeat 0 -53px;
  padding-left: 67px;
  padding-right: 70px;
  /*margin-left: 67px;*/
  /*margin-right: 70px;*/
  height: 100%;
  /*width: 823px;    /* 960-67-70= */
}

/*HEAD*/
header{
  height: 149px;
}
div.logo{
  position: relative;
  float: left;
  margin-left: 4px;
}
img.img-logo{
  position: absolute;
  top: 79px;     /* 132-53=79 */
  left: 0px;     /* 67+4=71 */
}
img.img-palm{
  position: absolute;
  top: 4px;      /* 57-53=4 */
  left: 141px;   /* 212-71=141 */
}
p.slogan{
  display: block;
  position: absolute;
  top: 125px;    /* 178-53=125 */
  left: 84px;    /* 155-71=84 */
  white-space: nowrap;
  font-size: 0.635em;
}
div.contacts{
  float: right;
  margin-top: 100px;
  margin-right: 18px;
}
h2{
  font-size: 0.635em;
  height: 17px;
  /*margin-bottom: 8px;*/
}
.contactdetails{
  font-size: 0.529375em;
  height: 10px;
  /*margin-bottom: 4px;*/
}


/*MAIN*/
li.main__li{
  display: inline-block;
  position: relative;
  float: left;
  /*margin: 10px;*/
  width: 270px;
  height: 250px;
  /*overflow: hidden;*/
}
li.main__li:nth-child(3n-2){
  margin-right: 7px;
}
li.main__li:nth-child(3n-1){
  margin-right: 6px;
}

img.ramka{           /* 270 x 189 */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
img.countryimage{    /* 260 x 178 */
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
p.imagename{
  display: block;
  position: relative;
  top: 187px;
  text-align: center;
  font-size: 0.9525em;
}



/*FOOTER*/
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  /*overflow: visible;*/
  height: 41px;
  width: 100%;
}
p.legal{
  display: inline-block;
  position: absolute;
  bottom: 33px;
  font-size: 0.635em;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}